.carousel-container {

    .carousel{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .carousel-inner{
        width:80%;
    }
    .carousel-control-prev{
        width: 11%;
        color: black;
    }
    
    .carousel-control-next{
        width: 11%;
        color:black
    }
        
    .carousel-tittle {
        text-align: left;
        
    }
}


.carousel-container > h2 {
    margin-left: 11%;
    margin-bottom: 40px;
    font-family: "Lora";
    width: 90%;

}

.img-button{
    width: 50%;
}
